
body{
    background-color: hsl(0, 0%, 20%);
}

#root{
    display: flex;
    justify-content: center;
    padding: 5vh 0 5vh 0;
}

input{
    width: 30vw;
    height: 5vh;
    margin: auto;
    border: 2px solid black;
    box-sizing: border-box;
}

#form-search{
    display: flex;
    flex-direction: row;
}

#searchinput{
    border-radius: 15px 0 0 15px;
}

#search{
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-left: 0;
    border-radius: 0 15px 15px 0;
}

#searchicon{
    width: 3vh;
    height: 3vh;
}

#search:hover{
    cursor: pointer;
}

.cards{
    margin: 0 2vw 0 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gifs{
    height: 20vh;
    margin: 10px;
    background-size: cover;
    display: block;
}